<h1>All Favours</h1>

<% @open_favours.each do |favour| %>
  <div class="card">
  	<p>Title: <%= link_to favour.title, favour_path(favour) %></p>
    <p>Category: <%= favour.category %></p>
    <p>Completion Date: Pending - Add Field</p>
    <p>Description: <%= favour.description %></p>
    <%= cl_image_tag(favour.recipient.photo.key, width: 80, height: 80, crop: :thumb, gravity: :face) %>
    <!-- link to recipients profile -->
    <% if user_signed_in? %>
		  <p>Posted By: <%= link_to favour.recipient.first_name, user_path(favour.recipient) %></p>
		<% else %>
		  <p>Posted by: <%= favour.recipient.first_name %></p>
		<% end %>
    <p>Recipient Rating: Pending - Review</p>
    <p>Postcode: Pending - Geocoding</p>

    <% if user_signed_in? %>
      <!-- Apply for favour -->
      <% unless current_user.applied?(favour) || favour.recipient == current_user %>
        <%= link_to "Apply to Help", new_favour_favour_application_path(favour), class: 'btn btn-primary' %>
      <% end %>
      <!-- Already applied for favour -->
      <% if current_user.applied?(favour) %>
        <!-- Applied and pending -->
        <% if current_user.application_status(favour) == "Pending" %>
          <p class="badge badge-success">You've already applied!</p>
          <%= link_to "Withdraw Application", favour_application_path(favour.favour_applications.where(applicant: current_user).take), method: :delete, class: 'btn btn-primary' %>
        <!-- Applied and withdrawn -->
        <% elsif current_user.application_status(favour) == "Withdrawn" %>
          <p class="badge badge-warning">You've withdrawn your application</p>
        <!-- Applied and rejected -->
        <% elsif current_user.application_status(favour) == "Rejected" %>
          <p class="badge badge-warning">Your application was rejected</p>
        <% end %>
      <% end %>
      <!-- Edit favour -->
      <% if favour.recipient == current_user && favour.favour_applications.nil? %>
        <%= link_to "Edit Favour", edit_favour_path(favour), class: 'btn btn-primary' %>
      <% end %>
    <!-- Apply button for users not signed in (redirects to sign in page first) -->
    <% else %>
      <%= link_to "Apply to Help", new_favour_favour_application_path(favour), class: 'btn btn-primary' %>
    <% end %>

  </div>
<% end %>
