<h1>Create a favour</h1>

<%= simple_form_for @favour do |f| %>
	<p>Completion Date *</p>  <!-- Added this in temporarily -->
  <%= f.date_field :completion_date, min: Date.today + 1, required: true %>
  <%= f.input :category, as: :radio_buttons, collection: @favour.categories %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address, label: "Location" %>
  <%= f.button :submit, 'Create', class: "btn btn-primary" %>
<% end %>