<div class="main-container">
  <div class="main-container__content">

    <!-- Header - user details -->
    <%= link_to user_path(@favour.recipient), class: "main-container__recipient-link" do %>
      <div class="main-container__recipient-content">
        <%= cl_image_tag(@favour.recipient.photo.key, class: "avatar main-container__avatar") %>
        <span class="main-container__recipient-details">
          <p class="main-container__name"><%= @favour.recipient.first_name %></p>
          <!-- Rating -->
          <div class="rating">
            <% if @favour.recipient.recipient_reviews.empty? %>
              <div class="rating__icon rating__icon--gray"></div>
              <p class="rating__text rating__text--gray">No reviews</p>
            <% else %>
              <div class="rating__icon rating__icon--yellow"></div>
              <p class="rating__text"><%= @favour.recipient.recipient_rating_average %> (<%= @favour.recipient.recipient_reviews.count %>)</p>
            <% end %>
          </div>
        </span>
      </div>
    <% end %>

    <!-- Favour content -->
    <h2 class="main-container__title"><%= @favour.title %></h2>
    <div class="main-container__pills">
      <div class="pill pill--outline-black main-container__pill"><%= @favour.completion_date.to_formatted_s(:rfc822) %></div>
      <div class="pill pill--outline-black main-container__pill"><%= @favour.address %></div>
    </div>
    <p class="main-container__description"><%= @favour.description %></p>

    <!-- Favour buttons -->
    <% if user_signed_in? %>
    <!-- Apply for favour -->
    <% unless current_user.applied?(@favour) || @favour.recipient == current_user %>
      <%= link_to "I can help", new_favour_favour_application_path(@favour), class: "button button--primary-outline main-container__button" %>
    <% end %>
    <!-- Already applied for favour -->
    <% if current_user.applied?(@favour) %>
      <!-- Applied and pending -->
      <% if current_user.application_status(@favour) == "Pending" %>
        <p class="main-container__notice">You've already applied!</p>
        <%= simple_form_for [@favour, @favour_application] do |f| %>
          <%= f.hidden_field :status, value: "Withdrawn" %>
          <%= f.button :submit, "Withdraw my request to help", class: "button button--primary-outline main-container__button" %>
        <% end %>
      <!-- Applied and withdrawn -->
      <% elsif current_user.application_status(@favour) == "Withdrawn" %>
        <p class="main-container__notice">You've withdrawn your application!</p>
      <!-- Applied and rejected -->
      <% elsif current_user.application_status(@favour) == "Rejected" %>
        <p class="main-container__notice">Your application was rejected!</p>
      <% end %>
    <% end %>
    <div class="main-container__buttons">
      <% if @favour.recipient == current_user %>
        <!-- Edit favour -->
        <% unless @favour.applicants_applied? %>
          <%= link_to "Edit Favour", edit_favour_path(@favour), class: "button button--primary-outline main-container__button" %>
        <% else %>
          <!-- View applicants -->
          <%= link_to "View Applicants", favour_favour_applications_path(@favour), class: "button button--primary-outline main-container__button" %>
        <% end %>
        <!-- Delete favour -->
        <a href="#" class="button button--primary-outline main-container__button">Delete</a>
      <% end %>
    </div>
  <!-- Apply button for users not signed in (redirects to sign in page first) -->
  <% else %>
      <%= link_to "Apply to Help", new_favour_favour_application_path(favour), class: "button button--primary-outline main-container__button" %>
  <% end %>

  <!-- Back to all favours -->
  <%= link_to "< Back to all favours", favours_path, class: '' %>
  </div>
</div>
