<h2>Title: <%= @favour.title %></h2>

<p>Category: <%= @favour.category %></p>
<p>Completion Date: <%= @favour.completion_date %></p>
<p>Postcode: Pending - Geocoding</p>

<%= cl_image_tag(@favour.recipient.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>
<% if user_signed_in? %>
  <p>Posted By: <%= link_to @favour.recipient.first_name, user_path(@favour.recipient) %></p>
<% else %>
  <p>Posted by: <%= @favour.recipient.first_name %></p>
<% end %>
<p>Recipient Rating: Pending - Review</p>

<p>Description: <%= @favour.description %></p>

<% if user_signed_in? %>
	<!-- Apply for favour -->
	<% unless current_user.applied?(@favour) || @favour.recipient == current_user %>
    <a href="#" class="btn btn-primary">Apply [Pending - Favour Application]</a>
  <% end %>
  <!-- Already applied for favour -->
  <% if current_user.applied?(@favour) %>
    <p class="badge badge-success">You've already applied!</p>
  <% end %>
  <!-- Edit favour -->
  <% if @favour.recipient == current_user && @favour.favour_applications.nil? %>
    <%= link_to "Edit Favour", edit_favour_path, class: 'btn btn-primary' %>
  <% end %>
<!-- Apply button for users not signed in (redirects to sign in page first) -->
<% else %>
	<a href="#" class="btn btn-primary">Apply [Pending - Favour Application]</a>
<% end %>

<%= link_to "Back to all favours", favours_path, class: 'btn btn-primary' %>
