<div class="main-container">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form form--shadow" }) do |f| %>
    <%= f.error_notification %>
    <h2 class="form__title">
      Forgot your password?
    </h2>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "form__input-text" },
                label_html: { class: "form__label-text" },
                wrapper_html: { class: "form__wrapper form__wrapper--text" } %>
    <%= f.button :submit, "Send me reset password instructions", class: "button button--primary-fill form__button" %>
    <div class="form__footer">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
