<div class="container">
  <div class="dashboard-section your-favours">
    <h1>Your Favours</h1>
    <div class="tabs">
      <a href="#" class="tab-label active">Accepted</a>
      <a href="#" class="tab-label">Open</a>
      <a href="#" class="tab-label">Archived</a>
    </div>
    <div class="tab-content active">
      <p>Accepted Cards...</p>
      <p>Accepted Cards...</p>
      <p>Accepted Cards...</p>
      <p>Accepted Cards...</p>
    </div>
    <div class="tab-content">
      <p>Open Cards...</p>
      <p>Open Cards...</p>
      <p>Open Cards...</p>
      <p>Open Cards...</p>
    </div>
    <div class="tab-content">
      <p>Archived Cards...</p>
      <p>Archived Cards...</p>
      <p>Archived Cards...</p>
      <p>Archived Cards...</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<h1>Skeleton Dashboard</h1>

<!-- Review notification -->
<div class="container">
  <!-- User as a helper -->
  <% if current_user.helper? %>
    <% @helper_done_favours.each do |favour| %>
      <% unless favour.reviews.where(subject: "Helper").exists? %>
        <div class="card">
          <p>Favour: <%= favour.title %></p>
          <p>You completed a favour for: <%= link_to favour.recipient.first_name, user_path(favour.recipient) %></p>
          <%= link_to "Review", new_favour_review_path(favour), class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <!-- User as a recipient -->
  <% if current_user.recipient? %>
    <% @recipient_done_favours.each do |favour| %>
      <% unless favour.reviews.where(subject: "Recipient").exists? %>
        <div class="card">
          <p>Favour: <%= favour.title %></p>
          <p>Completed by: <%= link_to favour.helper.first_name, user_path(favour.helper) %></p>
          <%= link_to "Review", new_favour_review_path(favour), class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- Favour about to expire notification -->
<% unless @recipient_favours_expiring.empty? %>
  <div class="container">
    <h4>Favours about to expire:</h4>
    <% @recipient_favours_expiring.each do |favour| %>
      <div class="card">
        <%= link_to "#{favour.title}", favour_path(favour) %>
        <%= render 'favours/edit-date', favour: favour %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- Dashboard -->
<div class="container">
  <!-- User as a helper -->
  <% if current_user.helper? %>
    <div class="helper-favours">
      <div class="accepted-favours">
        <h4>Accepted Favours</h4>
        <% @helper_accepted.each do |favour| %>
          <div class="card">
            <%= link_to "#{favour.title}", favour_path(favour) %>
            <p><%= favour.completion_date %></p>
            <p><%= favour.description %></p>
            <p><%= favour.address %></p>
            <p><%= favour.recipient.first_name %></p>
            <%= cl_image_tag(favour.recipient.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>
            <p><%= favour.recipient.mobile %></p>
          </div>
        <% end %>
      </div>
      <div class="open-favours">
        <h4>Applied Favours</h4>
        <% @helper_open.each do |favour| %>
          <div class="card">
            <%= link_to "#{favour.title}", favour_path(favour) %>
            <p><%= favour.completion_date %></p>
            <p><%= favour.description %></p>
            <p><%= favour.address %></p>
            <p><%= favour.recipient.first_name %></p>
            <%= cl_image_tag(favour.recipient.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>
            <%= simple_form_for [favour, favour.favour_applications.where(user: current_user).take] do |f| %>
              <%= f.hidden_field :status, value: "Withdrawn" %>
              <%= f.button :submit, 'Withdraw Application', class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="archived-favours">
        <h4>Archived Favours</h4>
        <% @helper_archived.each do |favour| %>
          <div class="card">
            <%= link_to "#{favour.title}", favour_path(favour) %>
            <p><%= favour.completion_date %></p>
            <p><%= favour.status %></p>
            <p><%= favour.description %></p>
            <p><%= favour.address %></p>
            <p><%= favour.recipient.first_name %></p>
            <%= cl_image_tag(favour.recipient.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- User as a recipient -->
  <% if current_user.recipient? %>
    <div class="recipient-favours">
      <div class="accepted-favours">
        <h4>Accepted Favours</h4>
        <% @recipient_accepted.each do |favour| %>
          <div class="card">
            <%= link_to "#{favour.title}", favour_path(favour) %>
            <p><%= favour.completion_date %></p>
            <p><%= favour.description %></p>
            <p><%= favour.address %></p>
            <p><%= favour.helper.first_name %></p>
            <%= cl_image_tag(favour.helper.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>
            <p><%= favour.helper.mobile %></p>
          </div>
        <% end %>
      </div>
      <div class="open-favours">
        <h4>Open Favours</h4>
        <% @recipient_open.each do |favour| %>
          <div class="card">
            <%= link_to "#{favour.title}", favour_path(favour) %>
            <p><%= favour.description %></p>
            <p><%= favour.address %></p>
            <% if favour.favour_applications.empty? %>
              <%= link_to "Edit Favour", edit_favour_path(favour), class: 'btn btn-primary' %>
            <% else %>
              <%= link_to "View Applications (#{favour.favour_applications.count})", favour_favour_applications_path(favour), class: 'btn btn-primary' %>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="archived-favours">
        <h4>Archived Favours</h4>
        <% @recipient_archived.each do |favour| %>
          <div class="card">
            <%= link_to "#{favour.title}", favour_path(favour) %>
            <p><%= favour.completion_date %></p>
            <p><%= favour.status %></p>
            <p><%= favour.description %></p>
            <p><%= favour.address %></p>
            <p><%= favour.helper.first_name %></p>
            <p><%= favour.helper.mobile %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
