<div class="container">
	<!-- Buttons -->
	<section>
		<h4>Buttons</h4>
		<div class="primary-button">
			Help out
		</div>
	</section>
	
	<hr/>

	<!-- Category Icons -->
	<section>
		<h4>Category Icons</h4>
		<%= render "shared/groceries-icon" %>
		<%= render "shared/pets-icon" %>
		<%= render "shared/gardening-icon" %>
		<%= render "shared/medicine-icon" %>
		<%= render "shared/other-icon" %>
	</section>
	
	<hr/>

	<!-- Favour index card -->
	<section>
		<h4>Favour Index Card</h4>
		<div class="favour-index-card">
			<div class="favour-index-header">
				<img class="card-user-image" src="https://source.unsplash.com/user/erondu">
				<div class="card-completion-date">ASAP</div>
				<div class="card-category groceries"></div>
			</div>
			<div class="favour-index-content">
				<h4>Need help with my gardening</h4>
				<p>Basic gardening - mowing front lawn and weed removal</p>
			</div>
			<div class="favour-index-footer">
				<div class="primary-button float-right">Help out</div>
			</div>
		</div>

	</section>

	<hr/>

</div>